# Payload Secret (mindestens 32 Zeichen)
PAYLOAD_SECRET=your-super-secret-key-here-min-32-characters

# Database URI
DATABASE_URI=mongodb://user:password@localhost:27017/sol?authSource=admin

# Impressum URL
NEXT_PUBLIC_IMPRESSUM_URL=https://www.link-zum-impressum.de
